/*=====CSS breadcumb =====*/

/*==CSS COMMON==*/
.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    padding: 0px 0px !important;
    background-color: transparent !important;
}
.breadcrumb li {
    float: left;
}
/*==define CSS for card a==*/
.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 15px 0 15px 88px;
    background: brown;                   /* fallback color */
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
}
/*===CSS for after child===*/
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 42px solid hsla(34,85%,35%,1); /*fix shape for children left*/
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 100;
}
/*===CSS for before child===*/
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 42px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 100;
}
/*define align for child filst*/
.breadcrumb li:first-child a {
    padding-left: 15px;
}
/*select component child and define background color*/
.breadcrumb li:nth-child(1) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(1) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,65%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,65%,1); }
/*if need view child have backgroud childrend as backgroud wallpaper */
/*.breadcrumb li:last-child a {*/
    /*background: transparent !important;*/
    /*color: black;*/
    /*pointer-events: none;*/
    /*cursor: default;*/
/*}*/

/*hover for conten-children*/
.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
/*hover for left-children*/
.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }